amqp==5.2.0; python_full_version == "3.12.6"
annotated-types==0.7.0; python_full_version == "3.12.6"
asgiref==3.8.1; python_full_version == "3.12.6"
attrs==24.2.0; python_full_version == "3.12.6"
autobahn==24.4.2; python_full_version == "3.12.6"
automat==24.8.1; python_full_version == "3.12.6"
billiard==4.2.1; python_full_version == "3.12.6"
blinker==1.8.2; python_full_version == "3.12.6"
cachetools==5.5.0; python_full_version == "3.12.6"
celery==5.4.0; python_full_version == "3.12.6"
certifi==2024.8.30; python_full_version == "3.12.6"
cffi==1.17.0; platform_python_implementation != "PyPy" and python_full_version == "3.12.6"
channels==4.1.0; python_full_version == "3.12.6"
charset-normalizer==3.3.2; python_full_version == "3.12.6"
click==8.1.7; python_full_version == "3.12.6"
click-didyoumean==0.3.1; python_full_version == "3.12.6"
click-plugins==1.1.1; python_full_version == "3.12.6"
click-repl==0.3.0; python_full_version == "3.12.6"
constantly==23.10.4; python_full_version == "3.12.6"
cryptography==43.0.0; python_full_version == "3.12.6"
daphne==4.1.2; python_full_version == "3.12.6"
django==5.0.7; python_full_version == "3.12.6"
django-cors-headers==4.4.0; python_full_version == "3.12.6"
django-filter==24.3; python_full_version == "3.12.6"
django-simple-history==3.7.0; python_full_version == "3.12.6"
djangorestframework==3.15.2; python_full_version == "3.12.6"
djangorestframework-simplejwt==5.3.1; python_full_version == "3.12.6"
drf-spectacular==0.27.2; python_full_version == "3.12.6"
flask==3.0.3; python_full_version == "3.12.6"
google-ai-generativelanguage==0.6.9; python_full_version == "3.12.6"
google-api-core[grpc]==2.20.0; python_full_version == "3.12.6"
google-api-python-client==2.146.0; python_full_version == "3.12.6"
google-auth==2.35.0; python_full_version == "3.12.6"
google-auth-httplib2==0.2.0; python_full_version == "3.12.6"
google-generativeai==0.8.1; python_full_version == "3.12.6"
googleapis-common-protos==1.65.0; python_full_version == "3.12.6"
grpcio==1.66.1; python_full_version == "3.12.6"
grpcio-status==1.66.1; python_full_version == "3.12.6"
httplib2==0.22.0; python_full_version == "3.12.6"
hyperlink==21.0.0; python_full_version == "3.12.6"
idna==3.8; python_full_version == "3.12.6"
incremental==24.7.2; python_full_version == "3.12.6"
inflection==0.5.1; python_full_version == "3.12.6"
itsdangerous==2.2.0; python_full_version == "3.12.6"
jinja2==3.1.4; python_full_version == "3.12.6"
jsonschema==4.23.0; python_full_version == "3.12.6"
jsonschema-specifications==2024.10.1; python_full_version == "3.12.6"
kombu==5.4.2; python_full_version == "3.12.6"
markupsafe==2.1.5; python_full_version == "3.12.6"
passage-identity==2.1.4; python_full_version == "3.12.6"
pillow==10.4.0; python_full_version == "3.12.6"
prompt-toolkit==3.0.48; python_full_version == "3.12.6"
proto-plus==1.24.0; python_full_version == "3.12.6"
protobuf==5.28.2; python_full_version == "3.12.6"
psycopg2==2.9.10; python_full_version == "3.12.6"
psycopg2-binary==2.9.10; python_full_version == "3.12.6"
pyasn1==0.6.1; python_full_version == "3.12.6"
pyasn1-modules==0.4.1; python_full_version == "3.12.6"
pycparser==2.22; platform_python_implementation != "PyPy" and python_full_version == "3.12.6"
pydantic==2.9.2; python_full_version == "3.12.6"
pydantic-core==2.23.4; python_full_version == "3.12.6"
pyjwt==2.9.0; python_full_version == "3.12.6"
pyopenssl==24.2.1; python_full_version == "3.12.6"
pyparsing==3.1.4; python_full_version == "3.12.6"
python-dateutil==2.9.0.post0; python_full_version == "3.12.6"
python-dotenv==1.0.1; python_full_version == "3.12.6"
python-magic==0.4.27; python_full_version == "3.12.6"
pyyaml==6.0.2; python_full_version == "3.12.6"
referencing==0.35.1; python_full_version == "3.12.6"
requests==2.32.3; python_full_version == "3.12.6"
rpds-py==0.20.0; python_full_version == "3.12.6"
rsa==4.9; python_full_version == "3.12.6"
service-identity==24.1.0; python_full_version == "3.12.6"
setuptools==72.1.0; python_full_version == "3.12.6"
six==1.16.0; python_full_version == "3.12.6"
sqlparse==0.5.1; python_full_version == "3.12.6"
tqdm==4.66.5; python_full_version == "3.12.6"
twisted[tls]==24.7.0; python_full_version == "3.12.6"
txaio==23.1.1; python_full_version == "3.12.6"
typing-extensions==4.12.2; python_full_version == "3.12.6"
tzdata==2024.2; python_full_version == "3.12.6"
uritemplate==4.1.1; python_full_version == "3.12.6"
urllib3==2.2.2; python_full_version == "3.12.6"
vine==5.1.0; python_full_version == "3.12.6"
waitress==3.0.0; python_full_version == "3.12.6"
wcwidth==0.2.13; python_full_version == "3.12.6"
werkzeug==3.0.4; python_full_version == "3.12.6"
zope-interface==7.0.3; python_full_version == "3.12.6"
