amqp==5.2.0; python_full_version == "3.12.5"
annotated-types==0.7.0; python_full_version == "3.12.5"
asgiref==3.8.1; python_full_version == "3.12.5"
attrs==24.2.0; python_full_version == "3.12.5"
autobahn==24.4.2; python_full_version == "3.12.5"
automat==24.8.1; python_full_version == "3.12.5"
billiard==4.2.1; python_full_version == "3.12.5"
blinker==1.8.2; python_full_version == "3.12.5"
cachetools==5.5.0; python_full_version == "3.12.5"
celery==5.4.0; python_full_version == "3.12.5"
certifi==2024.8.30; python_full_version == "3.12.5"
cffi==1.17.0; platform_python_implementation != "PyPy" and python_full_version == "3.12.5"
channels==4.1.0; python_full_version == "3.12.5"
charset-normalizer==3.3.2; python_full_version == "3.12.5"
click==8.1.7; python_full_version == "3.12.5"
click-didyoumean==0.3.1; python_full_version == "3.12.5"
click-plugins==1.1.1; python_full_version == "3.12.5"
click-repl==0.3.0; python_full_version == "3.12.5"
constantly==23.10.4; python_full_version == "3.12.5"
cryptography==43.0.0; python_full_version == "3.12.5"
daphne==4.1.2; python_full_version == "3.12.5"
django==5.0.7; python_full_version == "3.12.5"
django-cors-headers==4.4.0; python_full_version == "3.12.5"
django-filter==24.3; python_full_version == "3.12.5"
django-simple-history==3.7.0; python_full_version == "3.12.5"
djangorestframework==3.15.2; python_full_version == "3.12.5"
djangorestframework-simplejwt==5.3.1; python_full_version == "3.12.5"
drf-spectacular==0.27.2; python_full_version == "3.12.5"
flask==3.0.3; python_full_version == "3.12.5"
google-ai-generativelanguage==0.6.9; python_full_version == "3.12.5"
google-api-core[grpc]==2.20.0; python_full_version == "3.12.5"
google-api-python-client==2.146.0; python_full_version == "3.12.5"
google-auth==2.35.0; python_full_version == "3.12.5"
google-auth-httplib2==0.2.0; python_full_version == "3.12.5"
google-generativeai==0.8.1; python_full_version == "3.12.5"
googleapis-common-protos==1.65.0; python_full_version == "3.12.5"
grpcio==1.66.1; python_full_version == "3.12.5"
grpcio-status==1.66.1; python_full_version == "3.12.5"
httplib2==0.22.0; python_full_version == "3.12.5"
hyperlink==21.0.0; python_full_version == "3.12.5"
idna==3.8; python_full_version == "3.12.5"
incremental==24.7.2; python_full_version == "3.12.5"
inflection==0.5.1; python_full_version == "3.12.5"
itsdangerous==2.2.0; python_full_version == "3.12.5"
jinja2==3.1.4; python_full_version == "3.12.5"
jsonschema==4.23.0; python_full_version == "3.12.5"
jsonschema-specifications==2024.10.1; python_full_version == "3.12.5"
kombu==5.4.2; python_full_version == "3.12.5"
markupsafe==2.1.5; python_full_version == "3.12.5"
passage-identity==2.1.4; python_full_version == "3.12.5"
pillow==10.4.0; python_full_version == "3.12.5"
prompt-toolkit==3.0.48; python_full_version == "3.12.5"
proto-plus==1.24.0; python_full_version == "3.12.5"
protobuf==5.28.2; python_full_version == "3.12.5"
psycopg2==2.9.10; python_full_version == "3.12.5"
psycopg2-binary==2.9.10; python_full_version == "3.12.5"
pyasn1==0.6.1; python_full_version == "3.12.5"
pyasn1-modules==0.4.1; python_full_version == "3.12.5"
pycparser==2.22; platform_python_implementation != "PyPy" and python_full_version == "3.12.5"
pydantic==2.9.2; python_full_version == "3.12.5"
pydantic-core==2.23.4; python_full_version == "3.12.5"
pyjwt==2.9.0; python_full_version == "3.12.5"
pyopenssl==24.2.1; python_full_version == "3.12.5"
pyparsing==3.1.4; python_full_version == "3.12.5"
python-dateutil==2.9.0.post0; python_full_version == "3.12.5"
python-dotenv==1.0.1; python_full_version == "3.12.5"
python-magic==0.4.27; python_full_version == "3.12.5"
pyyaml==6.0.2; python_full_version == "3.12.5"
referencing==0.35.1; python_full_version == "3.12.5"
requests==2.32.3; python_full_version == "3.12.5"
rpds-py==0.20.0; python_full_version == "3.12.5"
rsa==4.9; python_full_version == "3.12.5"
service-identity==24.1.0; python_full_version == "3.12.5"
setuptools==72.1.0; python_full_version == "3.12.5"
six==1.16.0; python_full_version == "3.12.5"
sqlparse==0.5.1; python_full_version == "3.12.5"
tqdm==4.66.5; python_full_version == "3.12.5"
twisted[tls]==24.7.0; python_full_version == "3.12.5"
txaio==23.1.1; python_full_version == "3.12.5"
typing-extensions==4.12.2; python_full_version == "3.12.5"
tzdata==2024.2; python_full_version == "3.12.5"
uritemplate==4.1.1; python_full_version == "3.12.5"
urllib3==2.2.2; python_full_version == "3.12.5"
vine==5.1.0; python_full_version == "3.12.5"
waitress==3.0.0; python_full_version == "3.12.5"
wcwidth==0.2.13; python_full_version == "3.12.5"
werkzeug==3.0.4; python_full_version == "3.12.5"
zope-interface==7.0.3; python_full_version == "3.12.5"
